/* src/pages/ChatPage.css */
.chat-page-container {
  display: flex;
  flex-direction: column;
  height: 90vh; /* 뷰포트 전체 높이 */
  width: 82vw;
  padding: 20px;
  box-sizing: border-box;
}

.chat-page-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
